
*{
   padding: 0;
   margin: 0;
}
ul{
    margin: 0 0 0 250px;
    padding: 0;
    list-style: none;
    position:absolute;
    width: 55%;
    
    /* Box */
    height: 36px;
    line-height: 36px;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
}
li{
    float: left;
    border-right:1px solid #156ee2 ;
  }
 a{
    display: block;
    padding: 0 28px;
    color: #fff;
    text-decoration: none;
 } 
 ul a:hover, .active a{
    background-color: #156ee2;
 }
 .logo{
   position: absolute;
   margin-top: 5px;
   margin-left: 10px;
   
   font-family: 'Poppins';
   font-size: 20px;
   font-weight: 100;
   color: rgb(255, 255, 255);
   justify-items:auto;
 }
 #header{
    left: 0;
    top: 0;
    display:flex;
    justify-content: space-between;
 }
 .container{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 body,html{
    scroll-behavior: smooth;
 }
.banner img{
    width: 100%;
    vertical-align: top;
    size: 300px;
}
.services-section,
.blogs-section,
.team-section,
.contact-section{
   height: 100vh;
   display:flex;
   align-items: center;  
}
.services-section{
   background-color:#dbfbf4;
   width: 100%;
   justify-content: center;
}
.blogs-section{
   background-color: #c5f1e8;
   width: 100%;
}
.team-section{
   background-color: #afe9dd;
   width: 100%;
}
.contact-section{
   background-color: #a3d6e6;
   width: 100%;
}

.wrapper{
   width: 900px;
   margin: 0 auto;
   font-family:Arial, Helvetica, sans-serif;
   margin-top: 40px;
}
.services{
   width: 50%;
   margin: 0 auto;
   
   align-items: center;
   margin-bottom: 60px;
   

}
.services p{
   
   text-align: center;
   line-height: 25px;
}
.section-1{
 width: 290px;
 float: left;
 margin-right: 10px;
 
}
.section-1 img{
   width: 90%;
  
}

.section-1 p{
   font-size: 12px;
   line-height: 19px;
}

.color{
   /* color: #069cd5; */
   color: #004fa1;
   text-align: center;

}
.section-1 img:hover{
   border: 2px solid #004fa1;
}
.read{
   display: contents;
   color: #004fa1;
}
